<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vinea++</title>
  <link rel="stylesheet" href="/assets/normalize.css">
  <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
  <div class="container">
    <div class="header">
    <h1>Vinea++</h1>
    <span class="powered-by" data-hover-text="Ik ben inmiddels 10 jaar reisleider en heb een master in cyber security. Je kunt er dus redelijkerwijs vanuit gaan dat deze applicatie goed met je gegevens omgaat.">Ontwikkeld door Rien (Heuver)</span>
  </div>
    {{{body}}}
  </div>
</body>

</html>