<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vinea++</title>
    <link rel="stylesheet" href="/assets/normalize.css" />
    <link rel="stylesheet" href="/assets/style.css" />
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h1>Vinea++</h1>
        <span
          class="powered-by"
          data-hover-text="Ik ben inmiddels 10 jaar reisleider en heb een master in cyber security. Je kunt er dus redelijkerwijs vanuit gaan dat deze applicatie goed met je gegevens omgaat."
          >Ontwikkeld door Rien (Heuver)</span
        >
      </div>
      <button onclick="reset()">Data verversen</button>
      <p class="tip">
        Klik op een kolom om te sorteren, zoals leeftijd of naam. Ook heel
        handig voor dieet en gezondheid.
      </p>
      <p class="tip">
        Je kunt reisleiding als contact toevoegen op je telefoon: klik op de
        download-knop en open het bestand met je Contacten-app.
      </p>
      <div class="handlebars-template">
        <div class="tabs">
          {{#each data}}
          <div class="tab" onclick="openTab(event, {{@index}})">
            {{this.name}}
          </div>
          {{/each}}
        </div>

        {{#each data}}
        <div class="camp" data-tab="{{@index}}">
          <div class="sub-tabs">
            <div
              class="sub-tab guides"
              onClick="openSubTab(event, '{{@index}},guides')"
            >
              Reisleiding
            </div>
            {{#each this.groups}}
            <div
              class="sub-tab"
              onclick="openSubTab(event, '{{@../index}},{{@index}}')"
            >
              {{@key}}
            </div>
            {{/each}}
          </div>
          <div class="camp-groups">
            <div class="camp-group" data-subtab="{{@index}},guides">
              <div class="header">
                <span>Naam</span>
                <span>Email</span>
                <span>Telefoon</span>
                <span>Download contact</span>
                <span>Kamp</span>
              </div>
              <div class="rows">
                {{#each this.guides}}
                <div class="row">
                  <span onclick="toggleParticipant(event)">{{this.name}}</span>
                  <span>{{this.email}}</span>
                  <span><a href="tel:{{this.phone}}">{{this.phone}}</a></span>
                  <span class="download"
                    ><a
                      href="/contact/{{this.name}}/{{this.email}}/{{this.phone}}"
                      class="button"
                      >Download</a
                    ></span
                  >
                  <span>{{this.camp}}</span>
                </div>
                {{/each}}
              </div>
            </div>
            {{#each this.groups}}
            <div class="camp-group" data-subtab="{{@../index}},{{@index}}">
              <div class="meta">
                <span>Aantal deelnemers: {{this.participantCount}}</span>
                <span>Aantal vrouw: {{this.womenCount}}</span>
                <span>Aantal man: {{this.menCount}}</span>
                <span>Gemiddelde leeftijd: {{this.averageAge}}</span>
                <span>Jarigen 🎉: {{this.birthdays}}</span>
              </div>
              <div class="header">
                <span onclick="sortBy('naam', event)">Naam</span>
                <span onclick="sortBy('adres', event)">Adres</span>
                <span onclick="sortBy('telefoon', event)">Telefoon</span>
                <span onclick="sortBy('noodnummer', event)">Noodnummer</span>
                <span onclick="sortBy('geslacht', event)">Geslacht</span>
                <span onclick="sortBy('geboorteDatum', event)"
                  >Geboortedatum</span
                >
                <span onclick="sortBy('leeftijd', event)">Leeftijd</span>
                <span onclick="sortBy('vakantie', event)">Kamp</span>
                <span onclick="sortBy('dieet', event)">Dieet</span>
                <span onclick="sortBy('gezondheid', event)">Gezondheid</span>
                <span onclick="sortBy('comments', event)">Opmerkingen</span>
                <span onclick="sortBy('extra', event)">Extra</span>
                <span onclick="sortBy('vertrek_terug', event)">Van/tot</span>
                <span onclick="sortBy('opstap_uitstap', event)"
                  >Opstap/uitstap</span
                >
              </div>
              <div class="rows">
                {{#each this.participants}}
                <div class="row" data-participant="{{this.json}}">
                  <span onclick="toggleParticipant(event)"
                    >{{this.naam}} {{#if this.jarig}}<span class="jarig"
                      >🎉</span
                    >{{/if}}</span
                  >
                  <span>{{this.adres}}</span>
                  <span
                    ><a href="tel:{{this.telefoon}}">{{this.telefoon}}</a></span
                  >
                  <span
                    >{{#if this.noodnummer}}<a href="tel:{{this.noodnummer}}"
                      >{{this.noodnummer}}</a
                    >{{else}}Onbekend{{/if}}</span
                  >
                  <span>{{this.geslacht}}</span>
                  <span>{{this.geboorteDatum}}</span>
                  <span>{{this.leeftijd}}</span>
                  <span>{{this.vakantie}}</span>
                  <span>{{this.dieet}}</span>
                  <span>{{this.gezondheid}}</span>
                  <span>{{this.comments}}</span>
                  <span>{{this.extra}}</span>
                  <span>{{this.vertrek_terug}}</span>
                  <span>{{this.opstap_uitstap}}</span>
                </div>
                {{/each}}
              </div>
            </div>
            {{/each}}
          </div>
        </div>
        {{/each}}
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", () => {
          const camps = window.localStorage.getItem("vineacamps");
          if (camps === null) {
            console.log("wtf doe je hier");
          }
          const handlebarsSection = document.querySelector(
            ".handlebars-template"
          );
          const template = Handlebars.compile(handlebarsSection.innerHTML);
          handlebarsSection.innerHTML = template({ data: JSON.parse(camps) });
        });

        function reset() {
          window.localStorage.removeItem("vineacamps");
          window.location.replace("/");
        }

        function openTab(event, index) {
          const camps = document.querySelectorAll(".camp");
          for (let i = 0; i < camps.length; i++) {
            camps[i].style.display = "none";
          }

          const tabs = document.querySelectorAll(".tab");
          for (i = 0; i < camps.length; i++) {
            tabs[i].className = tabs[i].className.replace(" active", "");
          }

          document.querySelector(`[data-tab="${index}"]`).style.display =
            "block";
          event.currentTarget.className += " active";
        }

        function openSubTab(event, index) {
          const camps = document.querySelectorAll(".camp-group");
          for (let i = 0; i < camps.length; i++) {
            camps[i].style.display = "none";
          }

          const tabs = document.querySelectorAll(".sub-tab");
          for (i = 0; i < camps.length; i++) {
            tabs[i].className = tabs[i].className.replace(" active", "");
          }

          document.querySelector(`[data-subtab="${index}"]`).style.display =
            "block";
          event.currentTarget.className += " active";
        }

        function sortBy(property, event) {
          const camp = event.currentTarget.parentNode.parentNode;
          const rows = camp.querySelector(".rows");
          const participants = Array.from(rows.querySelectorAll(".row"));
          participants.sort((p1, p2) => {
            return JSON.parse(p1.dataset.participant)[property] >
              JSON.parse(p2.dataset.participant)[property]
              ? -1
              : 1;
          });

          const sortUp = event.currentTarget.className.includes("sortUp");
          if (sortUp) {
            participants.reverse();
          }

          const sortBys = camp.querySelectorAll(".header span");
          for (i = 0; i < sortBys.length; i++) {
            sortBys[i].className = sortBys[i].className
              .replace(" sortUp", "")
              .replace(" sortDown", "");
          }
          event.currentTarget.className += sortUp ? " sortDown" : " sortUp";

          for (let i = 0; i < participants.length; i++) {
            rows.appendChild(participants[i]);
          }
        }

        function toggleParticipant(event) {
          const row = event.currentTarget.parentNode;
          const columns = row.querySelectorAll("span");
          columns.forEach((c) => {
            c.style.display = c.style.display == "block" ? "" : "block";
          });
        }
      </script>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  </body>
</html>
