:root {
  --main-colour: #ff6e40;
  --second-colour: #044389;
  --highlight-colour: #b4d7f9;
  --light-gray: #eee;
  --border-radius: 3px;
  --dark-grey: #666;
  --light-grey: #aaa;
}

body {
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  font-size: 14px;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  color: var(--main-colour);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.powered-by {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1rem;
  color: var(--second-colour);
  font-weight: bold;
}

.powered-by:after {
  content: attr(data-hover-text);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  transform: translateX(-100%);
  max-width: 150px;
  width: max-content;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.5rem;
  font-size: 0.8rem;
}

.powered-by:hover {
  cursor: help;
}

.powered-by:hover::after {
  display: block;
}

.container {
  background-color: #fff;
  min-width: 1200px;
  padding: 1rem;
  margin-top: 1rem;
}

.error {
  padding: 1rem;
  color: red;
  font-weight: bolder;
}

a.button,
button {
  border: 0;
  background-color: var(--main-colour);
  padding: 1rem;
  margin: 1rem 0;
  color: white;
  border-radius: var(--border-radius);
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

a:not(.button) {
  color: var(--main-colour);
  text-decoration: none;
}

.loader {
  display: none;
  border: 0.2rem solid transparent;
  border-top: 0.2rem solid var(--main-colour);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-field label {
  display: block;
  font-size: 1rem;
}

.form-field input {
  margin: 1rem 0;
  border: 0;
  width: 100%;
  padding: 1rem 0.5rem;
  background-color: var(--light-gray);
  box-sizing: border-box;
  border-radius: var(--border-radius);
}

.checkbox {
  padding: 1rem;
}

form button {
  display: block;
}

.tip {
  background-color: var(--highlight-colour);
  border-radius: 5px;
  padding: 0.5rem;
}

.tabs,
.sub-tabs {
  display: flex;
}

.tab,
.sub-tab {
  color: white;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
}

.tab {
  background-color: var(--dark-grey);
}
.sub-tab {
  background-color: var(--light-grey);
}
.sub-tab.guides {
  background-color: var(--highlight-colour);
  color: black;
}

.tab.active,
.sub-tab.active {
  background-color: var(--main-colour);
}

.camp,
.camp-group {
  display: none;
}

.camp-group .header,
.camp-group .row {
  display: flex;
}

.camp-group .meta {
  display: flex;
  flex-direction: column;
  background-color: var(--second-colour);
  font-weight: bolder;
  color: white;
}

.files {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.sortDown,
.sortUp {
  background-color: var(--second-colour);
}

.sortDown::after {
  content: "";
  width: 0;
  height: 0;
  border-right: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
  border-bottom: 0.5rem solid white;
  position: absolute;
  margin-left: 1rem;
  margin-top: 0.25rem;
}
.sortUp::after {
  content: "";
  width: 0;
  height: 0;
  border-right: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
  border-top: 0.5rem solid white;
  position: absolute;
  margin-left: 1rem;
  margin-top: 0.25rem;
}

.camp-group span {
  flex: 1;
  padding: 1rem;
}

.camp-group .header {
  background-color: #333;
  color: white;
}

.camp-group .header span {
  cursor: pointer;
}

.camp-group .row:nth-child(odd) {
  background-color: var(--light-gray);
}

.jarig {
  font-size: 2rem;
}

span.download {
  margin: 0.2rem 0;
}

@media (max-width: 1200px) {
  .container {
    min-width: unset;
  }

  .tabs, .sub-tabs {
    flex-direction: column;
  }

  .camp-group :not(.meta) span:not(:first-child) {
    display: none;
  }

  .camp-group .row {
    flex-direction: column;
  }

  .powered-by {
    top: 0;
  }

  .files {
    grid-template-columns: repeat(2, 1fr);
  }
}
